/* remove indentation of list items */

ul {
  padding-left: 0;
}

/* remove traditional bullet from front of list items */
li {
  list-style-type: none;
  background-color: #eee;
  border: 1px solid #c3c3c3;
  padding: 10px 0px 10px 5px;
  font-size: 20px;
}

/* Step 5 below here */
.done {
  background-color: green;
  color: black;
  width: 40px;
  height: 40px;
}

.remove {
  background-color: red;
  color: black;
  width: 40px;
  height: 40px;
}

/* mark task as finished */
li.finished {
  color: white;
  background-color: gray;
  text-decoration: line-through;
}

input[type="text"] {
  font-size: 18px;
  width: 94%;
  padding: 10px;
}

input[type="button"] {
  font-size: 1.2em;
  margin: -6px 4px 0px 0px;
}

#addButton {
  padding: 10px;
}

.yellowbackground {
  background-color: yellow;
}

#divabout {
  font-size: 20px;
  width: 300px;
  margin: 10px;
}

.about-clear-buttons {
  font-size: 10px;
  padding: 5px 10px;
}

.important {
  background-color: lightblue;
}
